body
{
    background-color:#FFC0CB;
  
}
h1
{
    font-size: 35px;
    font-family: 'Comic Neue', cursive;
    color: #f71073;;
}
.formulaire
{
    background-color: #efece2;
    margin: auto;
    height:610px;
    width: 780px;
    border-radius: 10px;
    text-align: center;
    padding-top: 15px;
    padding-left: 50px;
    padding-right: 50px;
}
.formulaire:hover
{
    box-shadow: 20px 20px 50px 20px rgb(24, 21, 21);
}
.boutton

{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.case
{
    background-color: #efece2;
    border-bottom: solid black 1px;
    border-top: none;
    border-right: none;
    border-left: none;
    height: 30px;
    
}

.label
{
    display: flex;
    justify-content: flex-start;
}
 
footer p
{ 
  opacity: 0.5;
}
.envoyer
{
    height: 50px;
    background-color: black;
    color: white;
    border: none;
    margin: auto;
    width: 400px;
    border-radius: 5px;
   
}
